body{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: pink;
    align-items: center;
    justify-content: center ;
    height: 100vh;
}
#calculator{
    background-color: rgb(235, 79, 105);
    height: 600px;
    width: 500px;
    border-radius: 12px;
    display: flex;
    flex-direction: column ;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#display{
    width: 90%;
    height: 50px;
    color: black;
    font-weight: bold;
}
#keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
button{
    height: 50px;
    width: 50px;
    background-color: white;
    border: crimson 3px solid;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: crimson;
    color: chartreuse;
}
button:active{
    background-color: chartreuse;
    color: crimson;
}